* {
    background-image: url("4f04547f8b35baaf01da68541c712462.jpg");
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    background-image: url("Screenshot\ 2024-07-18\ 193234.jpg");
}

#navbar {
    z-index: 10;
    position: relative;
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 20px;
    color: #ffffff;
    text-decoration: none;
}
#aboutt
{
    background-image: none;
    background-color:rgb(20, 20, 49);
    border-radius: 5px;
}
#contact{
    background-image: none;
    background-color:rgb(20, 20, 49);
    border-radius: 5px;
}

#home {
    background-image: none;
    background-color: #ff6f61;
    border-radius: 5px;
}

#photo-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 10px 20px;
    z-index: 5;
}

#photo {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-image: url("WhatsApp\ Image\ 2024-12-13\ at\ 9.52.45\ PM\ \(1\).jpeg");
    background-size: cover;
    margin-right: 10px;
}

#photo1 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: url("WhatsApp\ Image\ 2024-12-14\ at\ 12.56.51\ PM.jpeg");
    background-size: cover;
    margin-right: 10px;
}

#name {
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    margin-right: 575px;
    background-image: none;
    background-color:rgb(20, 20, 49);

}

#about {
    color: black;
    flex-direction: column;
    justify-content: center;
    background-image: url("Premium\ Vector\ _\ Cute\ blue\ abstract\ minimal\ background\ perfect\ for\ wallpaper\ backdrop\ postcard\ background.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 600px;
    width: 600px;
    top: 20%;
    left: 25%;
    text-align: center;
    border: 2px solid #333333;
    border-radius: 10px;
}

#text {
    color: black !important;
    font-size: 20px;
    margin-top: 10px;
    background-color: none ;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    background-image: none;
}

#social-links {
    background-image: none;
    background-color:rgb(20, 20, 49);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 0px;
}

.social-icon {
    background-image: none;
    background-color:rgb(20, 20, 49);
    color: #ffffff;
    text-decoration: none;
    font-size: 20px; /* Larger icon size */
}
